main {
 background-color: red;
 padding: 5px;
}
.board {
  width: fit-content;
  margin: 40px auto;
  text-align: center;
  background-color: rgb(78, 75, 70);
}


.game {
  background-color: aqua;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.cell {
  background-color: beige;
  gap: 10px;
}
.cell_content {
  background-color: aquamarine;
}
